<!-- <%- subsection.title -%> Subsection -->
<div class="ncc-subsection" id="<%- subsection.id %>">
    <h4 class="ncc-subsection-title"><%- subsection.title %></h4>
    <div class="ncc-subsection-content">
        <!-- <%- subsection.title.toLowerCase() -%> subsection content-->
    </div>
</div>